language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
before_script:
  - sudo apt-get update
  - sudo apt-get install bash zsh
script: 'bin/tf_test test/*/*.rb && bundle exec tf --text test/comment/*_comment_test.sh'
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
